body{
    font-size: 16px;
}
h1{
   font-family:sans-serif;
}
p{
    font-weight: 600;
    font-size: 48px;
}
ul{
    font-style: inherit;
    line-height: normal;
    text-align: justify;
    text-decoration: solid;
    background-color: white;
}